@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/gilroy/bold/Gilroy-Bold.woff") format("woff"),
	url("../fonts/gilroy/bold/Gilroy-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/gilroy/medium/Gilroy-Medium.woff") format("woff"),
	url("../fonts/gilroy/medium/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/gilroy/regular/Gilroy-Regular.woff") format("woff"),
	url("../fonts/gilroy/regular/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/gilroy/semiBold/Gilroy-Semibold.woff") format("woff"),
	url("../fonts/gilroy/semiBold/Gilroy-Semibold.woff2") format("woff2");
}


@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/inter/bold/Inter-Bold.woff") format("woff"),
	url("../fonts/inter/bold/Inter-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/inter/medium/Inter-Medium.woff") format("woff"),
	url("../fonts/inter/medium/Inter-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/inter/regular/Inter-Regular.woff") format("woff"),
	url("../fonts/inter/regular/Inter-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/inter/semiBold/Inter-Semibold.woff") format("woff"),
	url("../fonts/inter/semiBold/Inter-Semibold.woff2") format("woff2");
}