.major{
  &__wrapper{
    max-width: 1460px;
    margin: 0 auto;
    padding-left: 10px;
    margin-top: 120px;
    padding-top: 43px;
    background: url('../img/starting.svg') no-repeat;
    mix-blend-mode: multiply;
    padding-bottom: 255px;
    background-position:  110% top;
    @media(max-width:1440px){
      padding-left:10px;
      padding-right:10px;
    }
    @media(max-width:1300px){
      background: url('../img/starting-mobile.svg') no-repeat;
      background-position:  100% top;
      margin-top:100px;
      padding-bottom: 80px;
    }
    @media(max-width: 1000px){
      background-position: top;
      margin-top: 35px;
      padding-top: 300px;
      padding-bottom: 80px;
    }
    @media(max-width: 750px){
      padding-left:15px;
      padding-top: 266px;
      padding-bottom: 80px;
    }
  }
  &__content{
    max-width:804px;
    @media(max-width:1300px){
      margin-top: 0px;
    }
  }
  &__title{
    font-size: 68px;
    line-height: 65px;
    letter-spacing: -1.36px;
    span{
      color: #009BFF;
    }
    @media(max-width:1400px){
      font-size: 40px;
    }
    @media(max-width:600px){
      font-size: 30px;
      letter-spacing: -0.6px;
      line-height: 30px;
    }
  }
  &__subtitle{
    margin-top: 35px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    @media(max-width:1400px){
      font-size: 20px;
    }
    @media(max-width:720px){
      font-size: 16px;
      line-height: 20px;
      margin-top: 17px;
    }
  }
  &__btns{
    margin-top: 71px;
    display: flex;
    gap: 15px;
    @media(max-width:1400px){
      flex-direction: column;
      align-items: center;
    }
    @media(max-width:720px){
      margin-top: 33px;
      margin-left: -6px;
      gap: 10px;
    }
  }
  &__btn-offer{
    width: 258px;
    height: 54px;
    border-radius: 5px;
    background: #009BFF;
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
    &:hover{
      background: rgba(0, 155, 255, 0.20);
      color: #009BFF;
    }
    @media(max-width:1400px){
      width: 350px;
    }
    @media(max-width:780px){
    font-size: 14px;
    line-height: 20px;
    }
  }
  &__btn-call{
    width: 415px;
    height: 55px;
    border-radius: 5px;
    border: 1px dashed #BFC9E0;
    background: #F4F6FB;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    display: flex;
    justify-content:center;
    gap: 10px;
    align-items: center;
    text-align: center;
    @media(max-width:1400px){
      width: 350px;
      font-size: 14px;
    }
  }
}