.telemetry{
  margin: 0 auto;
  // margin-top: 21px;
  max-width: 1840px;
  background: url(../img/telemetry_bg.svg);
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 60px;
  position: sticky;
  top: 15px;
  z-index: 3;
  @media(max-width:1400px){
    margin: 21px 5px;
    border-radius: 15px;
  }
  @media(max-width:1200px){
    margin-top: 15px;
  }
  @media(max-width:820px){
    position: relative;
  }
  &__wrapper{
    padding-top: 187px;
    padding-left: 229px;
    display: flex;
    gap: 170px;
    align-items:flex-start;
    @media(max-width:1620px){
      padding-left: 0;
      justify-content: space-between;
      gap: auto;
    }
    @media(max-width:1420px){
      flex-direction: column;
      align-items: center;
      gap: 31px;
      padding-bottom: 104px;
    }
    @media(max-width:720px){
      padding-top: 120px;
    }
  }
  &__title{
  font-size: 68px;
  line-height: 65px;
  letter-spacing: -1.36px;
  span{
    color: #009BFF;
  }
  @media(max-width:1200px){
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -0.6px;
  }
  }
  &__text{
    margin-top: -58px;
  }
  &__list{
    margin-top: 44px;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    max-width: 624px;
    padding-bottom: 138px;
    @media(max-width:1420px){
      padding-bottom: 0;
    }
    @media(max-width:1200px){
      font-size: 16px;
      line-height: 20px;
      margin-top: 27px;
    }
  }
  &__item{
    margin-top: 25.6px;
    position: relative;
    padding-left: 18px;
    width: 720px;
    &::after{
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #009BFF;
      position: absolute;
      top: 14px;
      left: 0px;
      @media(max-width:1200px){
        width: 6px;
        height: 6px;
        top: 7px;
      }
    }
    @media(max-width:1200px){
      max-width: 316px;
      margin: 0 auto;
      margin-top: 15px;
      margin-left: 20px;
      padding-left: 14px;
    }
  }
  &__img{
    position: relative;
    z-index: 5;
    @media(max-width:1200px){
      width: 280px;
      height: 231.729px;
    }
  }
  &__fugure{
    position: relative;
    &::before{
      content: '';
      display: block;
      width: 50px;
      height: 50px;
      background-color: red;
      position: absolute;
      z-index: 2;
      width: 475px;
      height: 475px;
      border-radius: 475px;
      background: #EAEFF9;
      top: 68px;
      left: 154px;
      @media(max-width:1200px){
        width: 250.943px;
        height: 253.037px;
        left: 14.79px;
        top: 31.96px;
      }
    }
    @media(max-width:1420px){
      order: 2;
    }
  }
}